.link {
	color: green;

}
a {
	color: green;
	width: 150px;
   height: 150px;
   background: red;
   border-radius: 5px;
   transition: width 2s;
   font-size: 20px;
}
a:hover {color:pink;
	width: 300px;
   height: 300px;
   font-size: 50px;}

div {
   width: 150px;
   height: 150px;
   background: red;
   border-radius: 5px;
   transition: width 2s;
   font-size: 20px;
   color:pink;
  
}
div:hover {
   width: 300px;
   height: 300px;
   font-size: 50px;
  color: green;
} 
