.header {
	border: 1px solid red;
	width: 99%;
	display: inline-block;
	background: url('pict2.jpg')50% 50%;
	background-size: cover;
	background-repeat: no-repeat;

}
.header img {
	float: right;
	padding: 80px;
}
.header h1 {
	position: relative;
	padding-top: 10px;
	text-align: center;
	padding-top: 100px;
	margin: auto;

}

.header p {
	position: relative;
	padding-top: 50px;
	margin-left: 50px;
}
