
.box {
	border: 100px 50px 50px 50px;
	padding:1px 2px 3px 4px;
	color: red;
	margin: 40px auto;
  	background: black;
  	width: 300px;
  	height: 200px;	
}
.container {
	flex-flow: column;
	border: 1px red;
	display: flex;
	width: 40%;
}
